<div class="footer">

    <div class="col-1">
        <h1>ASN</h1>
        <h6>Advanced System Nexus</h6>
    </div>
    <div class="col-2">
        <p>
            At ASN, we are your gateway to a world of cutting-edge computer parts and components. Whether you're a tech enthusiast, a professional, or simply looking to upgrade your PC, you've come to the right place. Our platform is a central hub for all things related to computer systems, offering a wide array of high-quality products, expert guidance, and the latest innovations. Dive into the heart of technology with ASN and explore a seamless shopping experience tailored to meet your computer needs. Join us and experience the future of computing, today.
        </p>
    </div>
    <div class="col-3">
        <h6>Contact us:</h6>
        <p>Email: <a>asnexus@gmail.com</a></p>
        <p>Number: <a>09123456789</a></p>
    </div>
    <div class="copyright">© 2023 ASN - All rights reserved</div>
</div>