<div class="section">

<div class="containerT">
    <h6>
        Swift and Secure: Elevating Your Shipping Experience with Excellence. With these shipping partners:
    </h6>
</div>
<div class="containerP">
    <img class="partners" src="/assets/shipping/FLASH.png">
    <img class="partners" src="/assets/shipping/JT.png">
    <img class="partners" src="/assets/shipping/Lala.png">
    <img class="partners" src="/assets/shipping/NinjaVan.png">
    <img class="partners" src="/assets/shipping/SPX.png">
</div>

</div>