<div class="container">
    <div class="ASN">ASN</div>
    <div class="searchBarContainer">
        <img class="searchIcon" src="assets/search.png" alt="Search Image">
        <input type="text" id="search" placeholder="Has a product in your mind?">
        <button class="find">
            Search
        </button>
    </div>
    <div class="profileContainer">
        <a href="/">
            <img src="assets/profile.png" class="profileIcon">
        </a>
    </div>
    <div class="cartContainer">
        <a href="/">
            <img src="assets/Cart.png" class="cartIcon">
        </a>
    </div>
</div>