<div class="container">
    <div class="ASN"><a routerLink="/">ASN</a></div>
    <div class="searchBarContainer">
        <img class="searchIcon" src="assets/search.png" alt="Search Image">
        <input type="text" id="search" placeholder="Has a product in your mind?">
        <button class="find">
            Search
        </button>
    </div>
    <div class="profileContainer">
        <a routerLink="/profile" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
            <img src="assets/profile.png" class="profileIcon">
        </a>
    </div>
    <div class="cartContainer">
        <a routerLink="/cart" routerLinkActive="activebutton" aria-CurrentActive="page">
            <img src="assets/Cart.png" class="cartIcon">
        </a>
    </div>
</div>