<div>
    <div class='accent-top'></div>
    <div class='accent-top'></div>
    <div class='accent-top'></div>
  </div>
  <div>
    <div class='accent-bottom'></div>
    <div class='accent-bottom'></div>
    <div class='accent-bottom'></div>
</div>

<div class="section">
<div class="col-1">
  <h1> ASN</h1>
  <h2>Advanced System Nexus</h2>
  <p>Explore the future of computing at ASN – your Advanced System Nexus. We provide top-notch computer parts and expert guidance. Join us for a seamless shopping experience tailored to your needs. Welcome to the next level of tech.</p>
</div>